// $breakpoint-mobile-iphone: 393px;
// $breakpoint-mobile: 335px;
// $breakpoint-tablet: 758px;
// $breakpoint-desktop: 1400px;

$breakpoint-mobile: 335px;
$breakpoint-iphone: 393px;
$breakpoint-liphone: 437px;
$breakpoint-tabletToMobile: 580px;
$breakpoint-tablet: 720px;
$breakpoint-laptopToTablet: 960px;
$breakpoint-laptop: 1024px;
$breakpoint-desktop: 1400px;