@import './base.scss';
@import "./_mixin.scss";


@include mobile {

    /*헤더*/
    .header {
        width: 100%;
        padding: 0 30px;
    }

    /*메인*/
    .recent-posts {
        .title {
            width: 100%;
            padding: 0 30px;

            .all-view{
                right:30px;
            }

            h1{
                font-size:24px;
            }
        }
    }

    
    /*리스트 아이템*/
    .list-item {
        .content {
            width: 100%;
            padding: 0 30px;

            ul{
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }
}

@include tablet {

    /*헤더*/
    .header {
        width: 100%;
        padding: 0 30px;
    }

    /*메인*/

    .recent-posts {
        .title {
            width: 100%;
            padding: 0 30px;

            .all-view{
                right:30px;
            }

            h1{
                font-size:28px;
            }
        }
    }

    /*리스트 아이템*/
    .list-item {
        .content {
            width: 100%;
            padding: 0 30px;

            ul{
                grid-template-columns: repeat(3, 1fr);
            }
        }
    }
}

@include desktop {

    /*헤더*/
    .header {
        max-width: 1400px;
    }

    /*메인*/
    .recent-posts {
        .title {
            width: 1400px;

            .all-view{
                right:0;
            }

            h1{
                font-size:30px;
            }

            p{

            }
        }
    }

    /*리스트 아이템*/
    .list-item {
        .content {
            width: 1400px;

            ul{
                grid-template-columns: repeat(5, 1fr);
            }
        }
    }
}